<!-- Footer Start-->
<footer class="footer">
  <div class="footer-top bg-color ptb--50" data-bg-color="#040406">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-9 text-center">
          <div class="footer-widget mb--50">
            <!-- <div class="textwidget">
                            <img src="/assets/img/logo/logo-white.png" alt="Logo">
                        </div> -->
          </div>

          <div class="footer-widget mb--45">
            <!-- Social Icons Start Here -->
            <ul class="social color-2">
             
              <li class="social__item"> 
                <a
                  href="https://www.facebook.com/Varecoin-102678358837759"
                  target="_blank"
                  rel="noopener"
                  class="social__link facebook"
                >
                  <span>Facebook</span>
                  <i class="fa fa-facebook"></i>
                </a>
              </li>
              <li class="social__item">
                <a
                  href="https://www.instagram.com/vareofficiall/"
                  target="_blank"
                  rel="noopener"
                  class="social__link pinterest"
                >
                  <span>Instagram</span>
                  <i class="icon-instagram_circle icon2x"></i>
                </a>
              </li>
              <li class="social__item">
                <a
                  href="https://twitter.com/vareofficial"
                  target="_blank"
                  rel="noopener"
                  class="social__link twitter"
                >
                  <span>Twitter</span>
                  <i class="fa fa-twitter"></i>
                </a>
              </li>
            </ul>
            <!-- Social Icons End Here -->
          </div>
          <!-- <div class="footer-widget">
                        <figure>
                            <img src="assets/img/others/payment.png" alt="payment">
                        </figure>
                    </div> -->
        </div>
      </div>
    </div>
  </div>
  <div class="footer-bottom bg-color ptb--25" data-bg-color="#12181b">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-4 text-lg-start text-center mb-md--10">
          <p class="copyright-text color--white">
            &copy; VARE Made with <i class="fa fa-heart"></i> BY
            <a href="https://iipl.work/" target="_blank" rel="noopener"
              >Ivory Innovations Pvt. Ltd.</a
            >
          </p>
        </div>
        <div class="col-lg-8 text-lg-end text-center">
          <div class="footer-widget">
            <ul class="footer-menu color-2">
              <li><a href="/aboutus">About Us</a></li>
              <li><a href="/terms-conditions">Terms &amp; Conditions</a></li>
              <li><a href="/privacy">Policy</a></li>
              <li><a href="/contact">Contact Us</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- Footer End-->
