<style>
  .footer .fa {
    padding: 10px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
  }
  
  .footer .fa:hover {
      opacity: 0.7;
  }
  
  .footer .fa-facebook {
    background: #3B5998;
    color: white;
  }
  
  .footer .fa-twitter {
    background: #55ACEE;
    color: white;
  }
  .footer .fa-instagram {
  background: #125688;
  color: white;
}
.footer .devloped-by {
  font-size: 9px;
  margin-left: 1rem;
}
.footer .devloped-by a{
  font-size: 9px;
}
  </style>
<!-- Footer Start-->
<footer class="footer">
  <div class="footer-top bg-color ptb--50" data-bg-color="#040406">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-9 text-center">
          <div class="footer-widget mb--50">
            <!-- <div class="textwidget">
                            <img src="/assets/img/logo/logo-white.png" alt="Logo">
                        </div> -->
          </div>

          <div class="footer-widget mb--45">
            <!-- Social Icons Start Here -->
            <ul class="social color-2">
              <a href="https://www.facebook.com/Varecoin-102678358837759" target="_blank" rel="noopener" class="fa fa-facebook"></a>
              <a href="https://twitter.com/vareofficial" class="fa fa-twitter"></a>
              <a href="https://www.instagram.com/vareofficiall/" class="fa fa-instagram"></a>
            </ul>
            <!-- <ul class="social">
              <li class="social__item">
                <a
                  href="https://plus.google.com/"
                  target="_blank"
                  rel="noopener"
                  class="social__link google-plus"
                >
                  <span>Google Plus</span>
                  <i class="fa fa-google-plus"></i>
                </a>
              </li>
              <li class="social__item">
                <a
                  href="https://facebook.com/"
                  target="_blank"
                  rel="noopener"
                  class="social__link facebook"
                >
                  <span>facebook</span>
                  <i class="fa fa-facebook"></i>
                </a>
              </li>
              <li class="social__item">
                <a
                  href="https://pinterest.com"
                  target="_blank"
                  rel="noopener"
                  class="social__link pinterest"
                >
                  <span>pinterest</span>
                  <i class="fa fa-pinterest-p"></i>
                </a>
              </li>
              <li class="social__item">
                <a
                  href="youtube.com"
                  target="_blank"
                  rel="noopener"
                  class="social__link twitter"
                >
                  <span>twitter</span>
                  <i class="fa fa-twitter"></i>
                </a>
              </li>
            </ul> -->
            <!-- Social Icons End Here -->
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-bottom bg-color ptb--25" data-bg-color="#12181b">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-5 text-lg-start text-center mb-md--10">
          <p class="copyright-text color--white">
            &copy; VARE PVT LTD 2021 <span class="devloped-by"> developed by
              <a href="https://iipl.work/" target="_blank" rel="noopener"
                >Ivory Innovations Pvt. Ltd.</a
              ></span>
          </p>
        </div>
        <div class="col-lg-7 text-lg-end text-center">
          <div class="footer-widget">
            <ul class="footer-menu color-2">
              <li><a href="/aboutus">About Us</a></li>
              <li><a href="/terms-conditions">Terms &amp; Conditions</a></li>
              <li><a href="/privacy">Policy</a></li>
              <li><a href="/contact">Contact Us</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- Footer End-->
