<!-- Header Start -->
<header class="header header-style-2 header-transparent">
  <div class="header-inner fixed-header">
    <div class="container-fluid">
      <div class="row align-items-center">
        <div class="col-sm-5 col-2 order-sm-1">
          <a href="#offcanvasMenu" class="toolbar-btn menu-btn color--white">
            <i class="flaticon flaticon-menu"></i>
          </a>
        </div>
        <div class="col-sm-2 order-sm-2 order-first mb-xs--40 text-center">
          <a href="/" class="logo">
            <figure class="logo--normal">
              <img
                style="width: 55px"
                src="/assets/img/logo/asset4.png"
                alt="Logo"
              />
            </figure>
            <figure class="logo--transparent">
              <img width="65px" src="/assets/img/logo/asset9.png" alt="Logo" />
            </figure>
          </a>
        </div>
        <div class="col-sm-5 col-10 order-sm-3 text-end">
          <ul class="header-toolbar white-color">
            <li class="header-toolbar__item">
              <a href="#searchForm" class="header-toolbar__btn toolbar-btn">
                <i class="flaticon flaticon-search"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="offcanvas-menu-wrapper" id="offcanvasMenu">
    <div class="offcanvas-menu-inner">
      <a href="" class="btn-close">
        <span class="hamburger-icon"> </span>
      </a>
      <nav class="offcanvas-navigation">
        <ul class="offcanvas-menu">
          <li class="menu-item-has-children active">
            <a href="/">
              <span class="mm-text">Home</span>
            </a>
          </li>
          <li class="menu-item-has-children">
            <a href="blog.html">
              <span class="mm-text">Vare Shop</span>
            </a>
            <ul class="sub-menu">
              <% for(var i=0; i < menu.length; i++) { %>
              <li class="menu-item-has-children has-children">
                <a href="#">
                  <span class="mm-text"><%= menu[i].parent %></span>
                </a>
                <ul class="sub-menu">
                  <% for(var j=0; j < menu[i].items.length; j++) { %>
                    <% for(var k=0; k < menu[i].items[j].items.length; k++) { %>
                  <li>
                    <a href="blog.html">
                      <span class="mm-text"><%= menu[i].items[j].items[k].name %></span>
                    </a>
                  </li>
                  <% } %>
                  <% } %>
                </ul>
              </li>
              <% } %>
            </ul>
          </li>

          
          <li class="menu-item-has-children">
            <a href="/blog/all">
              <span class="mm-text">Blog</span>
            </a>
          </li>
          <li class="menu-item-has-children">
            <a href="/blog">
              <span class="mm-text">Contact Us</span>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>
<!-- Header End -->
