<!DOCTYPE html>
<html class="no-js" lang="zxx">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>Vare APP About Us</title>
    <meta name="description" content="" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <!-- Favicons -->
    <%- include("partials/icon") %>

    <!-- ************************* CSS Files ************************* -->

    <!-- Vendor CSS -->
    <link rel="stylesheet" href="/assets/css/bootstrap.css" />

    <!-- Vendor CSS -->
    <link rel="stylesheet" href="/assets/css/vendor.css" />

    <!-- style css -->
    <link rel="stylesheet" href="/assets/css/main.css" />
  </head>

  <body>
    <!-- Preloader Start -->
    <div class="zakas-preloader active">
      <div
        class="
          zakas-preloader-inner
          h-100
          d-flex
          align-items-center
          justify-content-center
        "
      >
        <div class="zakas-child zakas-bounce1"></div>
        <div class="zakas-child zakas-bounce2"></div>
        <div class="zakas-child zuka-bounce3"></div>
      </div>
    </div>
    <!-- Preloader End -->

    <!-- Main Wrapper Start -->
    <div class="wrapper">
      <%- include("partials/header2",menu) %>

      <!-- Breadcrumb area Start -->
      <div class="breadcrumb-area bg-color ptb--90" data-bg-color="#f6f6f6">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <div
                class="
                  d-flex
                  justify-content-between
                  align-items-center
                  flex-sm-row flex-column
                "
              >
                <h1 class="page-title">Vare About Us</h1>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Breadcrumb area End -->

      <!-- Main Content Wrapper Start -->
      <div id="content" class="main-content-wrapper">
        <div class="page-content-inner pt--75">
          <div class="container">
            <p>
              Lorem Ipsum is simply dummy text of the printing and typesetting
              industry. Lorem Ipsum has been the industry’s standard dummy text
              ever since the 1500s, when an unknown printer took a galley of
              type and scrambled it to make a type specimen book. It has
              survived not only five centuries It was popularised in the 1960s
              with the release of Letraset sheets containing Lorem Ipsum
              passages, and more recently with desktop publishing software like
              Aldus. Lorem Ipsum is simply dummy text of the printing and
              typesetting industry. Lorem Ipsum has been the industry’s standard
              dummy text ever since the 1500s, when an unknown printer took a
              galley of type and scrambled it to make a type specimen book. It
              has survived not only. Lorem Ipsum is simply dummy text of the
              printing and typesetting industry. Lorem Ipsum has been the
              industry’s standard dummy text ever since the 1500s, when an
              unknown printer took a galley of type and scrambled it to make a
              type specimen book. It has survived not only five centuries It was
              popularised in the 1960s with the release of Letraset sheets
              containing Lorem Ipsum passages, and more recently with desktop
              publishing software like Aldus. Lorem Ipsum is simply dummy text
              of the printing and typesetting industry. Lorem Ipsum has been the
              industry’s standard dummy text ever since the 1500s, when an
              unknown printer took a galley of type and scrambled it to make a
              type specimen book. It has survived not only. Lorem Ipsum is
              simply dummy text of the printing and typesetting industry. Lorem
              Ipsum has been the industry’s standard dummy text ever since the
              1500s, when an unknown printer took a galley of type and scrambled
              it to make a type specimen book. It has survived not only five
              centuries It was popularised in the 1960s with the release of
              Letraset sheets containing Lorem Ipsum passages, and more recently
              with desktop publishing software like Aldus. Lorem Ipsum is simply
              dummy text of the printing and typesetting industry. Lorem Ipsum
              has been the industry’s standard dummy text ever since the 1500s,
              when an unknown printer took a galley of type and scrambled it to
              make a type specimen book. It has survived not only.
            </p>
            <div class="banner-box">
              <div
                class="
                  banner-inner
                  banner-hover-2
                  banner-info-over-img
                  banner-info-center
                "
              >
                <figure class="banner-image">
                  <img
                    height="700px"
                    src="/assets/img/products/fashion-model-in-stylish-snake-image-FZRQQTP.jpg"
                    alt="Banner"
                  />
                </figure>
                <div class="banner-info">
                  <div class="banner-info--inner text-center">
                    <h2 class="heading__primary color--white mb--20">
                      <span class="heading__primary--sub"
                        >Perfect Accesories</span
                      >
                      <span class="heading__primary--main">For Women</span>
                    </h2>
                    <a
                      href="/shopnow"
                      class="btn"
                      data-animation="fadeInUp"
                      data-duration=".4s"
                      data-delay="1.2s"
                      >Shop Now <i class="fa fa-angle-double-right"></i
                    ></a>
                  </div>
                </div>
                <a href="/shopnow" class="banner-link"></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <br />
      <!-- Main Content Wrapper Start -->

      <%- include("partials/footer") %>

      <!-- Searchform Popup Start -->
      <div class="searchform__popup" id="searchForm">
        <a href="#" class="btn-close"
          ><i class="flaticon flaticon-cross"></i
        ></a>
        <div class="searchform__body">
          <p>Start typing and press Enter to search</p>
          <form class="searchform">
            <input
              type="text"
              name="popup-search"
              id="popup-search"
              class="searchform__input"
              placeholder="Search Entire Store..."
            />
            <button type="submit" class="searchform__submit">
              <i class="flaticon flaticon-magnifying-glass-icon"></i>
            </button>
          </form>
        </div>
      </div>
      <!-- Searchform Popup End -->

      <!-- Global Overlay Start -->
      <div class="zakas-global-overlay"></div>
      <!-- Global Overlay End -->
    </div>
    <!-- Main Wrapper End -->

    <!-- jQuery JS -->
    <script src="/assets/js/vendor.js"></script>

    <!-- Main JS -->
    <script src="/assets/js/main.js"></script>
  </body>
</html>
