<!DOCTYPE html>
<html class="no-js" lang="zxx">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />

    <title>Vare APP Blog Section</title>
    <meta name="description" content="" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <%- include("partials/icon") %>

    <!-- ************************* CSS Files ************************* -->

    <!-- Vendor CSS -->
    <link rel="stylesheet" href="/assets/css/bootstrap.css" />

    <!-- Vendor CSS -->
    <link rel="stylesheet" href="/assets/css/vendor.css" />

    <!-- style css -->
    <link rel="stylesheet" href="/assets/css/main.css" />
  </head>

  <body>
    <!-- Preloader Start -->
    <div class="zakas-preloader active">
      <div
        class="
          zakas-preloader-inner
          h-100
          d-flex
          align-items-center
          justify-content-center
        "
      >
        <div class="zakas-child zakas-bounce1"></div>
        <div class="zakas-child zakas-bounce2"></div>
        <div class="zakas-child zuka-bounce3"></div>
      </div>
    </div>
    <!-- Preloader End -->

    <!-- Main Wrapper Start -->
    <div class="wrapper">
      <%- include("partials/header2") %>

      <!-- Breadcrumb area Start -->
      <div class="breadcrumb-area bg-color ptb--90" data-bg-color="#f6f6f6">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <div
                class="
                  d-flex
                  justify-content-between
                  align-items-center
                  flex-sm-row flex-column
                "
              >
                <h1 class="page-title">Vare Blog</h1>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Breadcrumb area End -->

      <!-- Main Content Wrapper Start -->
      <div class="main-content-wrapper">
        <div class="page-content-inner blog-page-sidebar ptb--80">
          <div class="container">
            <div class="row">
              <div class="col-12">
                <div class="row">
                  <div class="col-xl-3 col-lg-4 col-md-6 mb--50">
                    <article class="blog blog-style-2">
                      <div class="blog-media">
                        <figure class="image">
                          <a href="/singlepostimage">
                            <img
                              height="300px"
                              src="/assets/img/products/fashion-model-dressed-blue-fur-and-black-cap-poses-N9SF6WL.jpg"
                              alt="Blog"
                            />
                          </a>
                        </figure>
                      </div>
                      <div class="blog-info">
                        <h2 class="blog-title">
                          <a href="/singlepostimage">She Belived She Could</a>
                        </h2>
                        <div class="blog-meta">
                          <div class="blog-meta--left">
                            <a href="/singlepostimage" class="blog-meta-btn">
                              <i class="fa fa-comment-o"></i>
                              <sup>05</sup>
                            </a>
                            <a href="/singlepostimage" class="blog-meta-btn">
                              <i class="fa fa-heart-o"></i>
                              <sup>06</sup>
                            </a>
                          </div>
                          <div class="blog-meta--right">
                            <a
                              href="/singlepostimage"
                              class="btn btn-no-bg btn-color-dark"
                              >Read More <i class="fa fa-angle-double-right"></i
                            ></a>
                          </div>
                        </div>
                      </div>
                    </article>
                  </div>
                  <div class="col-xl-3 col-lg-4 col-md-6 mb--50">
                    <article class="blog blog-style-2">
                      <div class="blog-media">
                        <figure class="image">
                          <a href="/singlepostimage">
                            <img
                              height="300px"
                              src="/assets/img/products/street-fashion-9FCAD6F.jpg"
                              alt="Blog"
                            />
                          </a>
                        </figure>
                      </div>
                      <div class="blog-info">
                        <h2 class="blog-title">
                          <a href="/singlepostimage">Monday to Sunday</a>
                        </h2>
                        <div class="blog-meta">
                          <div class="blog-meta--left">
                            <a href="/singlepostimage" class="blog-meta-btn">
                              <i class="fa fa-comment-o"></i>
                              <sup>05</sup>
                            </a>
                            <a href="/singlepostimage" class="blog-meta-btn">
                              <i class="fa fa-heart-o"></i>
                              <sup>06</sup>
                            </a>
                          </div>
                          <div class="blog-meta--right">
                            <a
                              href="/singlepostimage"
                              class="btn btn-no-bg btn-color-dark"
                              >Read More <i class="fa fa-angle-double-right"></i
                            ></a>
                          </div>
                        </div>
                      </div>
                    </article>
                  </div>
                  <div class="col-xl-3 col-lg-4 col-md-6 mb--50">
                    <article class="blog blog-style-2">
                      <div class="blog-media">
                        <figure class="image">
                          <a href="/singlepostimage">
                            <img
                              height="300px"
                              src="/assets/img/products/fashion-model-in-stylish-snake-image-FZRQQTP.jpg"
                              alt="Blog"
                            />
                          </a>
                        </figure>
                      </div>
                      <div class="blog-info">
                        <h2 class="blog-title">
                          <a href="/singlepostimage">Monday to Sunday</a>
                        </h2>
                        <div class="blog-meta">
                          <div class="blog-meta--left">
                            <a href="/singlepostimage" class="blog-meta-btn">
                              <i class="fa fa-comment-o"></i>
                              <sup>05</sup>
                            </a>
                            <a href="/singlepostimage" class="blog-meta-btn">
                              <i class="fa fa-heart-o"></i>
                              <sup>06</sup>
                            </a>
                          </div>
                          <div class="blog-meta--right">
                            <a
                              href="/singlepostimage"
                              class="btn btn-no-bg btn-color-dark"
                              >Read More <i class="fa fa-angle-double-right"></i
                            ></a>
                          </div>
                        </div>
                      </div>
                    </article>
                  </div>
                  <div class="col-xl-3 col-lg-4 col-md-6 mb--50">
                    <article class="blog blog-style-2">
                      <div class="blog-media">
                        <figure class="image">
                          <a href="/singlepostimage">
                            <img
                              height="300px"
                              src="/assets/img/products/beautiful-fashion-model-CFR52B7.jpg"
                              alt="Blog"
                            />
                          </a>
                        </figure>
                      </div>
                      <div class="blog-info">
                        <h2 class="blog-title">
                          <a href="/singlepostimage">Monday to Sunday</a>
                        </h2>
                        <div class="blog-meta">
                          <div class="blog-meta--left">
                            <a href="/singlepostimage" class="blog-meta-btn">
                              <i class="fa fa-comment-o"></i>
                              <sup>05</sup>
                            </a>
                            <a href="/singlepostimage" class="blog-meta-btn">
                              <i class="fa fa-heart-o"></i>
                              <sup>06</sup>
                            </a>
                          </div>
                          <div class="blog-meta--right">
                            <a
                              href="/singlepostimage"
                              class="btn btn-no-bg btn-color-dark"
                              >Read More <i class="fa fa-angle-double-right"></i
                            ></a>
                          </div>
                        </div>
                      </div>
                    </article>
                  </div>
                  <div class="col-xl-3 col-lg-4 col-md-6 mb--50">
                    <article class="blog blog-style-2">
                      <div class="blog-media">
                        <figure class="image">
                          <a href="/singlepostimage">
                            <img
                              height="300px"
                              src="/assets/img/products/fashion-model-dressed-blue-fur-and-black-cap-poses-N9SF6WL.jpg"
                              alt="Blog"
                            />
                          </a>
                        </figure>
                      </div>
                      <div class="blog-info">
                        <h2 class="blog-title">
                          <a href="/singlepostimage">She Belived She Could</a>
                        </h2>
                        <div class="blog-meta">
                          <div class="blog-meta--left">
                            <a href="/singlepostimage" class="blog-meta-btn">
                              <i class="fa fa-comment-o"></i>
                              <sup>05</sup>
                            </a>
                            <a href="/singlepostimage" class="blog-meta-btn">
                              <i class="fa fa-heart-o"></i>
                              <sup>06</sup>
                            </a>
                          </div>
                          <div class="blog-meta--right">
                            <a
                              href="/singlepostimage"
                              class="btn btn-no-bg btn-color-dark"
                              >Read More <i class="fa fa-angle-double-right"></i
                            ></a>
                          </div>
                        </div>
                      </div>
                    </article>
                  </div>
                  <div class="col-xl-3 col-lg-4 col-md-6 mb--50">
                    <article class="blog blog-style-2">
                      <div class="blog-media">
                        <figure class="image">
                          <a href="/singlepostimage">
                            <img
                              height="300px"
                              src="/assets/img/products/street-fashion-9FCAD6F.jpg"
                              alt="Blog"
                            />
                          </a>
                        </figure>
                      </div>
                      <div class="blog-info">
                        <h2 class="blog-title">
                          <a href="/singlepostimage">Monday to Sunday</a>
                        </h2>
                        <div class="blog-meta">
                          <div class="blog-meta--left">
                            <a href="/singlepostimage" class="blog-meta-btn">
                              <i class="fa fa-comment-o"></i>
                              <sup>05</sup>
                            </a>
                            <a href="/singlepostimage" class="blog-meta-btn">
                              <i class="fa fa-heart-o"></i>
                              <sup>06</sup>
                            </a>
                          </div>
                          <div class="blog-meta--right">
                            <a
                              href="/singlepostimage"
                              class="btn btn-no-bg btn-color-dark"
                              >Read More <i class="fa fa-angle-double-right"></i
                            ></a>
                          </div>
                        </div>
                      </div>
                    </article>
                  </div>
                  <div class="col-xl-3 col-lg-4 col-md-6 mb--50">
                    <article class="blog blog-style-2">
                      <div class="blog-media">
                        <figure class="image">
                          <a href="/singlepostimage">
                            <img
                              height="300px"
                              src="/assets/img/products/fashion-model-in-stylish-snake-image-FZRQQTP.jpg"
                              alt="Blog"
                            />
                          </a>
                        </figure>
                      </div>
                      <div class="blog-info">
                        <h2 class="blog-title">
                          <a href="/singlepostimage">Monday to Sunday</a>
                        </h2>
                        <div class="blog-meta">
                          <div class="blog-meta--left">
                            <a href="/singlepostimage" class="blog-meta-btn">
                              <i class="fa fa-comment-o"></i>
                              <sup>05</sup>
                            </a>
                            <a href="/singlepostimage" class="blog-meta-btn">
                              <i class="fa fa-heart-o"></i>
                              <sup>06</sup>
                            </a>
                          </div>
                          <div class="blog-meta--right">
                            <a
                              href="/singlepostimage"
                              class="btn btn-no-bg btn-color-dark"
                              >Read More <i class="fa fa-angle-double-right"></i
                            ></a>
                          </div>
                        </div>
                      </div>
                    </article>
                  </div>
                  <div class="col-xl-3 col-lg-4 col-md-6 mb--50">
                    <article class="blog blog-style-2">
                      <div class="blog-media">
                        <figure class="image">
                          <a href="/singlepostimage">
                            <img
                              height="300px"
                              src="/assets/img/products/beautiful-fashion-model-CFR52B7.jpg"
                              alt="Blog"
                            />
                          </a>
                        </figure>
                      </div>
                      <div class="blog-info">
                        <h2 class="blog-title">
                          <a href="/singlepostimage">Monday to Sunday</a>
                        </h2>
                        <div class="blog-meta">
                          <div class="blog-meta--left">
                            <a href="/singlepostimage" class="blog-meta-btn">
                              <i class="fa fa-comment-o"></i>
                              <sup>05</sup>
                            </a>
                            <a href="/singlepostimage" class="blog-meta-btn">
                              <i class="fa fa-heart-o"></i>
                              <sup>06</sup>
                            </a>
                          </div>
                          <div class="blog-meta--right">
                            <a
                              href="/singlepostimage"
                              class="btn btn-no-bg btn-color-dark"
                              >Read More <i class="fa fa-angle-double-right"></i
                            ></a>
                          </div>
                        </div>
                      </div>
                    </article>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12">
                    <nav class="pagination-wrap">
                      <ul class="pagination">
                        <li>
                          <a href="#" class="prev page-number"
                            ><i class="fa fa-angle-double-left"></i
                          ></a>
                        </li>
                        <li><span class="current page-number">1</span></li>
                        <li><a href="#" class="page-number">2</a></li>
                        <li><a href="#" class="page-number">3</a></li>
                        <li>
                          <a href="#" class="next page-number"
                            ><i class="fa fa-angle-double-right"></i
                          ></a>
                        </li>
                      </ul>
                    </nav>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Main Content Wrapper End -->

      <%- include("partials/footer") %>

      <!-- Searchform Popup Start -->
      <div class="searchform__popup" id="searchForm">
        <a href="#" class="btn-close"
          ><i class="flaticon flaticon-cross"></i
        ></a>
        <div class="searchform__body">
          <p>Start typing and press Enter to search</p>
          <form class="searchform">
            <input
              type="text"
              name="popup-search"
              id="popup-search"
              class="searchform__input"
              placeholder="Search Entire Store..."
            />
            <button type="submit" class="searchform__submit">
              <i class="flaticon flaticon-magnifying-glass-icon"></i>
            </button>
          </form>
        </div>
      </div>
      <!-- Searchform Popup End -->

      <!-- Global Overlay Start -->
      <div class="zakas-global-overlay"></div>
      <!-- Global Overlay End -->
    </div>
    <!-- Main Wrapper End -->

    <!-- ************************* JS Files ************************* -->

    <!-- jQuery JS -->
    <script src="/assets/js/vendor.js"></script>

    <!-- Main JS -->
    <script src="/assets/js/main.js"></script>
  </body>
</html>
