<!DOCTYPE html>
<html class="no-js" lang="zxx">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>Vare APP Home</title>
    <meta name="description" content="" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <%- include("partials/icon") %>

    <!-- ************************* CSS Files ************************* -->

    <!-- Vendor CSS -->
    <link rel="stylesheet" href="/assets/css/bootstrap.css" />

    <!-- Vendor CSS -->
    <link rel="stylesheet" href="/assets/css/vendor.css" />

    <!-- style css -->
    <link rel="stylesheet" href="/assets/css/main.css" />
  </head>

  <body>
    <!-- Preloader Start -->
    <div class="zakas-preloader active">
      <div
        class="
          zakas-preloader-inner
          h-100
          d-flex
          align-items-center
          justify-content-center
        "
      >
        <div class="zakas-child zakas-bounce1"></div>
        <div class="zakas-child zakas-bounce2"></div>
        <div class="zakas-child zuka-bounce3"></div>
      </div>
    </div>
    <!-- Preloader End -->

    <!-- Main Wrapper Start -->
    <div class="wrapper">
      <!-- Header Start -->

      <%- include("partials/header") %>
      <!-- Header End -->
      <!-- Main Content Wrapper Start -->
      <div class="main-content-wrapper">
        <!-- Slider area Start -->
        <section class="homepage-slider-wrapper">
          <div
            class="zakas-element-carousel homepage-slider"
            data-slick-options='{
                    "autoplay": true
                }'
          >
            <div
              class="
                single-slide
                slider-height-2
                bg-style
                d-flex
                align-items-center
              "
              style="
                background-image: url(/assets/img/products/glamour-fashion-model-RNACDHN.JPG);
              "
            >
              <div class="container">
                <div class="row justify-content-center">
                  <div class="col-12">
                    <div class="slider-content text-center ptb--100">
                      <h1
                        class="
                          heading__primary heading__primary--2
                          color--white
                          mb--30
                        "
                      >
                        <span
                          class="heading__primary--sub"
                          data-animation="fadeInUp"
                          data-duration=".4s"
                          data-delay=".7s"
                          >#Vare Style</span
                        >
                        <span
                          class="heading__primary--main"
                          data-animation="fadeInUp"
                          data-duration=".4s"
                          data-delay="1s"
                          >2021</span
                        >
                      </h1>
                      <a
                        href="/shopnow"
                        class="btn"
                        data-animation="fadeInUp"
                        data-duration=".4s"
                        data-delay="1.2s"
                        >Shop Now <i class="fa fa-angle-double-right"></i
                      ></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div
              class="
                single-slide
                slider-height-2
                bg-style
                d-flex
                align-items-center
              "
              style="
                background-image: url(/assets/img/products/glamour-fashion-model-RNACDHN.JPG);
              "
            >
              <div class="container">
                <div class="row justify-content-center">
                  <div class="col-12">
                    <div class="slider-content text-center ptb--100">
                      <h1
                        class="
                          heading__primary heading__primary--2
                          color--white
                          mb--30
                        "
                      >
                        <span
                          class="heading__primary--sub"
                          data-animation="fadeInUp"
                          data-duration=".4s"
                          data-delay=".7s"
                          >#Vare Style</span
                        >
                        <span
                          class="heading__primary--main"
                          data-animation="fadeInUp"
                          data-duration=".4s"
                          data-delay="1s"
                          >2021</span
                        >
                      </h1>
                      <a
                        href="/shopnow"
                        class="btn"
                        data-animation="fadeInUp"
                        data-duration=".4s"
                        data-delay="1.2s"
                        >Shop Now <i class="fa fa-angle-double-right"></i
                      ></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <!-- Slider area End -->

        <!-- Banner Area Start -->
        <div class="banner-area">
          <div class="container-fluid p-0">
            <div class="row g-0">
              <div class="col-md-6">
                <div class="banner-box">
                  <div
                    class="
                      banner-inner
                      banner-hover-2
                      banner-info-over-img
                      banner-info-center
                    "
                  >
                    <figure class="banner-image">
                      <img
                        src="/assets/img/products/fashion-model-in-stylish-snake-image-FZRQQTP.jpg"
                        alt="Banner"
                      />
                    </figure>
                    <div class="banner-info">
                      <div class="banner-info--inner text-center">
                        <h2 class="heading__primary color--white mb--20">
                          <span class="heading__primary--sub"
                            >Perfect Collection</span
                          >
                          <span class="heading__primary--main">For Women</span>
                        </h2>
                        <a
                          href="/shopnow"
                          class="btn"
                          data-animation="fadeInUp"
                          data-duration=".4s"
                          data-delay="1.2s"
                          >Shop Now <i class="fa fa-angle-double-right"></i
                        ></a>
                      </div>
                    </div>
                    <a href="/shopnow" class="banner-link"></a>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="banner-box">
                  <div
                    class="
                      banner-inner
                      banner-hover-2
                      banner-info-over-img
                      banner-info-center
                    "
                  >
                    <figure class="banner-image">
                      <img
                        src="/assets/img/products/street-fashion-9FCAD6F.jpg"
                        alt="Banner"
                      />
                    </figure>
                    <div class="banner-info">
                      <div class="banner-info--inner text-center">
                        <h2 class="heading__primary color--white mb--20">
                          <span class="heading__primary--sub"
                            >Perfect Accesories</span
                          >
                          <span class="heading__primary--main">For Women</span>
                        </h2>
                        <a
                          href="/shopnow"
                          class="btn"
                          data-animation="fadeInUp"
                          data-duration=".4s"
                          data-delay="1.2s"
                          >Shop Now <i class="fa fa-angle-double-right"></i
                        ></a>
                      </div>
                    </div>
                    <a href="/shopnow" class="banner-link"></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Banner Area End -->

        <!-- Full Width Banner Area Start -->
        <div
          class="full-width-banner-area parallax-window"
          data-parallax="scroll"
          data-image-src="/assets/img/products/portrait-fashionable-woman-street-fashion-2EGQRTL.jpg"
        ></div>
        <!-- Full Width Banner Area End -->

        <!-- Banner Area Start -->
        <div class="banner-area">
          <div class="container-fluid p-0">
            <div class="row g-0">
              <div class="col-md-6">
                <div class="banner-box">
                  <div
                    class="
                      banner-inner
                      banner-hover-2
                      banner-info-over-img
                      banner-info-center
                    "
                  >
                    <figure class="banner-image">
                      <img
                        src="/assets/img/products/beautiful-fashion-model-CFR52B7.jpg"
                        alt="Banner"
                      />
                    </figure>
                    <div class="banner-info">
                      <div class="banner-info--inner text-center">
                        <h2 class="heading__primary color--white mb--20">
                          <span class="heading__primary--sub"
                            >Orange Blazer</span
                          >
                          <span class="heading__primary--main"
                            >Winter Shop</span
                          >
                        </h2>
                        <a
                          href="/shopnow"
                          class="btn"
                          data-animation="fadeInUp"
                          data-duration=".4s"
                          data-delay="1.2s"
                          >Shop Now <i class="fa fa-angle-double-right"></i
                        ></a>
                      </div>
                    </div>
                    <a href="/shopnow" class="banner-link"></a>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="banner-box">
                  <div
                    class="
                      banner-inner
                      banner-hover-2
                      banner-info-over-img
                      banner-info-center
                    "
                  >
                    <figure class="banner-image">
                      <img
                        height="auto"
                        src="/assets/img/products/fashion-model-in-stylish-snake-image-FZRQQTP.jpg"
                        alt="Banner"
                      />
                    </figure>
                    <div class="banner-info">
                      <div class="banner-info--inner text-center">
                        <h2 class="heading__primary color--white mb--20">
                          <span class="heading__primary--sub"
                            >Perfect Accesories</span
                          >
                          <span class="heading__primary--main">For Women</span>
                        </h2>
                        <a
                          href="/shopnow"
                          class="btn"
                          data-animation="fadeInUp"
                          data-duration=".4s"
                          data-delay="1.2s"
                          >Shop Now <i class="fa fa-angle-double-right"></i
                        ></a>
                      </div>
                    </div>
                    <a href="/shopnow" class="banner-link"></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Banner Area End -->
      </div>
      <!-- Main Content Wrapper End -->

      <!-- Footer Start-->
      <%- include("partials/footer") %>

      <!-- Footer End-->

      <!-- Searchform Popup Start -->
      <div class="searchform__popup" id="searchForm">
        <a href="#" class="btn-close"
          ><i class="flaticon flaticon-cross"></i
        ></a>
        <div class="searchform__body">
          <p>Start typing and press Enter to search</p>
          <form class="searchform">
            <input
              type="text"
              name="popup-search"
              id="popup-search"
              class="searchform__input"
              placeholder="Search Entire Store..."
            />
            <button type="submit" class="searchform__submit">
              <i class="flaticon flaticon-magnifying-glass-icon"></i>
            </button>
          </form>
        </div>
      </div>
      <!-- Searchform Popup End -->

      <!-- Global Overlay Start -->
      <div class="zakas-global-overlay"></div>
      <!-- Global Overlay End -->
    </div>
    <!-- Main Wrapper End -->

    <!-- ************************* JS Files ************************* -->

    <!-- jQuery JS -->
    <script src="/assets/js/vendor.js"></script>

    <!-- Main JS -->
    <script src="/assets/js/main.js"></script>
    <script>
      $(document).ready(function () {
        $("#header").load("header.html");
        $("#footer").load("footer.html");
      });
    </script>
  </body>
</html>
