<!DOCTYPE html>
<html class="no-js" lang="zxx">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />

    <title>Vare APP Privacy Policy</title>
    <meta name="description" content="" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <%- include("partials/icon") %>

    <!-- ************************* CSS Files ************************* -->

    <!-- Vendor CSS -->
    <link rel="stylesheet" href="/assets/css/bootstrap.css" />

    <!-- Vendor CSS -->
    <link rel="stylesheet" href="/assets/css/vendor.css" />

    <!-- style css -->
    <link rel="stylesheet" href="/assets/css/main.css" />
  </head>

  <body>
    <!-- Preloader Start -->
    <div class="zakas-preloader active">
      <div
        class="
          zakas-preloader-inner
          h-100
          d-flex
          align-items-center
          justify-content-center
        "
      >
        <div class="zakas-child zakas-bounce1"></div>
        <div class="zakas-child zakas-bounce2"></div>
        <div class="zakas-child zuka-bounce3"></div>
      </div>
    </div>
    <!-- Preloader End -->

    <!-- Main Wrapper Start -->
    <div class="wrapper">
      <%- include("partials/header2") %>

      <!-- Breadcrumb area Start -->
      <div class="breadcrumb-area bg-color ptb--90" data-bg-color="#f6f6f6">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <div
                class="
                  d-flex
                  justify-content-between
                  align-items-center
                  flex-sm-row flex-column
                "
              >
                <h1 class="page-title">Vare Privacy Policy</h1>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Breadcrumb area End -->

      <!-- Main Content Wrapper Start -->
      <div id="content" class="main-content-wrapper">
        <div class="page-content-inner pt--75">
          <div class="container">
            <p>
              lipsum.com is committed to protecting your privacy online. This
              Privacy Policy endeavours to describe to you our practices
              regarding the personal information we collect from users on our
              website, located at lipsum.com (the “Site”), and the services
              offered through the Site. If you have any questions about our
              Privacy Policy, our collection practices, the processing of user
              information, or if you would like to report a security violation
              to us directly, please contact us at help@lipsum.com What Data We
              Collect General Data: The use of our services will automatically
              create information that will be collected. For example, when you
              use our Services, your geographic location, how you use the
              Services, information about the type of device you use, your Open
              Device Identification Number, date/time stamps for your visit,
              your unique device identifier, your browser type, operating
              system, Internet Protocol (IP) address, and domain name are all
              collected. This information is generally used to help us deliver
              the most relevant information to you and administer and improve
              the Site. Log Files: As is true of most websites, we gather
              certain information automatically and store it in log files. This
              information includes IP addresses, browser type, Internet service
              provider (ISP), referring/exit pages, operating system, date/time
              stamp, and clickstream data. We use this information to maintain
              and improve the performance of the Services. Analytics: We use
              analytics services (including, but not limited to, Google
              Analytics) to help analyze how users use the Site. Analytics
              services use Cookies to collect information such as how often
              users visit the Site and we use the information to improve our
              Site and Services. The analytics services' ability to use and
              share information collected by them is restricted by their terms
              of use and privacy policy, which you should refer to for more
              information about how these entities use this information.
              Location Information: If you have enabled location services on
              your mobile device, we may collect your location information to
              improve the Services we offer. If you do not want this information
              collected, you can disable location services on your device.
              Cookies: “Cookies” are small pieces of information (text files)
              that a website sends to your computer’s hard drive while you are
              viewing the website. These text files can be used by websites to
              make the users experience more efficient. The law states that we
              can store these cookies on your device if they are strictly
              necessary for the operation of this site. For all other types of
              cookies we need your permission. To that end, this site uses
              different types of cookies. Some cookies are placed by third party
              services that appear on our pages. We and some third parties may
              use both session Cookies (which expire once you close your web
              browser) and persistent Cookies (which stay on your computer until
              you delete them) to provide you with a more personal and
              interactive experience on our Services and to market the Services
              or other products. Marketing cookies are used to track visitors
              across websites. The intention is to display ads that are relevant
              and engaging for the individual user and thereby more valuable for
              publishers and third party advertisers. This tracking is done on
              an anonymous basis and, while not an exhaustive list, some of the
              companies we work with are Google, AppNexus, Criteo, Rubicon,
              Pubmatic and DistrictM. To learn more about this practice,
              including the Self Regulatory Principles for Online Advertising,
              to which we adhere, you can visit www.aboutads.info/choices,
              optout.networkadvertising.org and www.youronlinechoices.com Use of
              Your Personal information In general, personal information you
              submit to us is used either to respond to requests that you make,
              aid us in serving you better, or market our Services. We use your
              personal information in the following ways: ● Operate, maintain,
              and improve our site(s), products, and services; ● Respond to
              comments and questions and provide customer service; ● Link or
              combine user information with other personal information we get
              from third parties, to help understand your needs and provide you
              with better service; ● Develop, improve, and deliver marketing and
              advertising for the Services; ● Provide and deliver products and
              services you request; ● Identify you as a user in our system; We
              may store and process your personal information on servers located
              in both the United States and Europe. We may also create anonymous
              data records from your personal information by completely
              excluding information (such as your name) that makes the data
              personally identifiable to you. We use this anonymous data to
              analyze request and usage patterns so that we may enhance the
              content of our Services and improve Site functionality. We reserve
              the right to use anonymous data for any purpose and disclose
              anonymous data to third parties at our sole discretion.
            </p>
          </div>
        </div>
      </div>
      <br />
      <!-- Main Content Wrapper Start -->

      <%- include("partials/footer") %>

      <!-- Searchform Popup Start -->
      <div class="searchform__popup" id="searchForm">
        <a href="#" class="btn-close"
          ><i class="flaticon flaticon-cross"></i
        ></a>
        <div class="searchform__body">
          <p>Start typing and press Enter to search</p>
          <form class="searchform">
            <input
              type="text"
              name="popup-search"
              id="popup-search"
              class="searchform__input"
              placeholder="Search Entire Store..."
            />
            <button type="submit" class="searchform__submit">
              <i class="flaticon flaticon-magnifying-glass-icon"></i>
            </button>
          </form>
        </div>
      </div>
      <!-- Searchform Popup End -->

      <!-- Global Overlay Start -->
      <div class="zakas-global-overlay"></div>
      <!-- Global Overlay End -->
    </div>
    <!-- Main Wrapper End -->

    <!-- jQuery JS -->
    <script src="/assets/js/vendor.js"></script>

    <!-- Main JS -->
    <script src="/assets/js/main.js"></script>
  </body>
</html>
