.money .mrp-strike {
    text-decoration: line-through;
}
.money .our-price {
    color: #abd263 !important;
    font-size: 22px;
    font-weight: 600;
}
.money .mrp-price {
    font-size: 16px !important;
    color: red !important;
}
.product-summary .product-title {
    text-transform: capitalize !important;
} 
@media (max-width:768px){ 
    .mobile-menu .mean-bar .meanmenu-reveal span:before,
    .mobile-menu .mean-bar .meanmenu-reveal span:after {
    
      background-color: #ffffff;
    }
}
